body {
	width: 100%;
	max-width: 1024px;
	margin: auto;
	background-color: #444466;
	background-image: repeating-linear-gradient(45deg, white 0%,
    black 25%, black 25%, 
    white 50%, white 50%, 
    black 75%, black 75%, white 100%);
}

header, main, footer {
	background-color: #cccccc;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 1024px;
	height: auto;
	max-height: 100px;
	margin-bottom: 10px;
}

main {
	margin-top: 100px;

}

a::before {
	display: block; 
  	content: " ";
	margin-top: -100px;
	height: 100px;
	visibility: hidden;
	pointer-events: none;
}

a:link {
	color: #cccccc;
	text-decoration: none;
}

a:visited {
	color: #cccccc;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

nav {
	padding: 10px;
	padding-right: 0%;
	padding-left: 0%;
	text-align: center;
}
ul {
	font-size: 100%;
}

li {
	width: 10%;
	display: inline-block;
	padding-right: 3%;
	padding-left: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #333333;
	background-image: linear-gradient(#aaaaaa, black, #aaaaaa);
	margin: auto;

}

h1 {
	padding: 5px;
	padding-bottom: 10px;
	padding-top:10px;
	padding-left: 10px;
	font-size: 200%;
	text-align: left;
	color: #000000;
}

h2 {
	color: #000000;
	text-align: center;
	padding: 20px;
	padding-top: 40px;
	font-size: 180%;
}

img {
	width: 100%;
	margin: 0 auto;
	max-width: 1024px;
	max-height: 768px;
}

p {
	padding: 15px;
	padding-top: 15px;
	padding-bottom: 25px;
	font-size: 110%;
	color: #000000;
}

.imgSquare {
	display: block;
	width: 384px;
	height: 384px;
	margin-right: auto;
	margin-left: auto;
}

figure {
	text-align: center;
	font-style: italic;
	font-size: 90%;
	color: #000000;
}

figure a:visited {
	color: #0000aa;
}

#mySQLImg {
	max-width: 560px;
	max-height: auto;
	padding-right: 10%;
	padding-left: 10%;
}

#javaImg {
	max-width: 512px;
	max-height: 384px;
}

footer {
	font-size: 75%;
}

#grad {
	background-image: linear-gradient(to right, red , yellow);
}

